#hightline{
	width: 100%;
	height: auto;
	background-image: url('./src/assets/img/slide/photo1.png');
	background-color: var(--green);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0;
	background-blend-mode: multiply;
	background-attachment: fixed;
	padding: 170px 0;
	text-align: center;
}
#hightline h2{
	font-size: 2em;
	font-weight: 800;
	line-height: 170%;
	font-style: italic; 
	color: var(--white);
	text-shadow: 3px 3px 10px rgb(0 0 0 / 50%);
}

#hightline a{
	text-decoration: none;
	color: var(--white);
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 40px;
	border: 1px solid var(--white);
	animation: shakeY 12s infinite ease-out forwards;
}

#hightline a:hover{
	cursor: pointer;
	animation: fadeIn 1s 1 ease-out forwards;
}